{
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": ["off"],
    "no-underscore-dangle": ["off"],
    "@typescript-eslint/naming-convention": ["off"],
    "arrow-body-style": ["off"],
    "no-else-return": ["off"]
  }
}
